h1 Edit note
p
    label(for='title') Title:
    input(name='date', type='text', ng-model='record.title', required, placeholder='Note title')
p
    label(for='date') Date:
    input(name='date', type='date', ng-model='record.date', art-date-editor)
    time {{record.date | artdate}}
p
    label(for='text') Text:
    textarea(name='text', ng-model='record.text', placeholder='Note text here')
p
    label(for='tags') Tags:
    input(name='tags', ng-model='record.tags', art-tag-editor)
p
    button(ng-click='save()') Save
