a(href='#!/edit') Create new note
button(ng-disabled='disableRefresh', ng-click='refresh()') Refresh
ul
    li(ng-repeat='record in records')
        p {{record.date | date : "d.MM.yy H:mm Z"}}
        a(ng-href='#!/record/{{record._id}}')
            p {{record.title}}

