h2 List
a(href='#!/edit') Create new note
ul.record-list.list-style-none
    li.inlines-with-margin(ng-repeat='record in records')
        time {{record.date | artdate}}
        a(ng-href='#!/record/{{record._id}}') {{record.title}}

