h2 {{record.title}}
div.note-commands.btn-group
    a.btn.btn-primary(ng-href='#!/edit/{{record._id}}', role='button') Edit
    a.btn.btn-danger(ng-click='remove()', href='javascript:void(0)', role='button') Delete
article
    p.note-text.text-left {{record.text}}
    p.date.text-info
        span.glyphicon.glyphicon-calendar
        time {{record.date | artdate}}
    p.tags-list
        span.label.label-info(ng-repeat='tag in record.tags') {{tag}}

