h1 Details
p Title:
p {{recordResponse.data.title}}
p Date:
p {{recordResponse.data.date | date : "d MMMM yyyy H:mm Z"}}
p Text:
p {{recordResponse.data.text}}
p Tags:
ul
    li(ng-repeat='tag in recordResponse.data.tags') {{tag}}


