h1 Details
a(ng-href='#!/edit/{{record._id}}') Edit
p Title:
p {{record.title}}
p Date:
p {{record.date | date : "d MMMM yyyy H:mm Z"}}
p Text:
p {{record.text}}
p Tags:
ul
    li(ng-repeat='tag in record.tags') {{tag}}


