h1 Details
a(ng-href='#!/edit/{{record._id}}') Edit
button(ng-click='remove()') Delete
p Title:
p {{record.title}}
p Date:
p {{record.date | artdate}}
p Text:
p {{record.text}}
p Tags:
ul
    li(ng-repeat='tag in record.tags') {{tag}}


